<form #registerForm="ngForm" (ngSubmit)="register()">
    <h2 class="text-center">Register New User</h2>
  
    <hr>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" [(ngModel)]="model.username" name="username" required>
    </div>
  
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.password" name="username" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Retype password" [(ngModel)]="model.confirmPassword" name="username" required>
    </div>

    <div class="form-group">
        <label for="sel1">Select user role:</label>
        <select class="form-control" name="role" [(ngModel)]="model.role" required>
            <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
          </select>
      </div>
  
    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Register</button>
      <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>
