
  <div class="image">
    <div *ngIf="!registerMode" class="text-center">
      <br><br>
      <h1>Jondell Corp</h1>
      <p class="lead">Account balance management made easy!</p>
      <div class="text-center">
        <button *ngIf="isAdmin()" class="btn btn-primary" (click)="registerToggle()">Register</button>
        <button class="btn btn-info">Learn More</button>
      </div>
    </div>
  
    <div *ngIf="registerMode" class="container">
      <div class="col-md-4 col-md-offset-4">
        <app-register (cancelRegister)="cancelregisterMode($event)"></app-register>
      </div>
    </div>
  </div>