<div class="container">
    <hr>
    <div class="row" style="text-align: center;">
      <form class="form-inline" #form="ngForm" (ngSubmit)="getBalanceByUserParams()" novalidate>
        <div class="form-group">
          <label for="year">Load Balances For :</label>
          <select class="form-control" id="year" name="year" [(ngModel)]="balanceParams.year">
            <option *ngFor="let item of yearList" [value]="item">
              {{item}}
            </option>
          </select>
        </div>
  
        <div class="form-group">
          <!-- <label for="startMonth">Start Month:</label> -->
          <select class="form-control" id="month" name="month" [(ngModel)]="balanceParams.month">
            <option *ngFor="let item of monthList" [value]="item.value">
              {{item.display}}
            </option>
          </select>
        </div>
  
        <button type="submit" class="btn btn-primary" ><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
    <hr>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Balances as of</strong>
            <span class="label label-default">{{balance?.month}}</span>
            <span class="label label-default">{{balance?.year}}</span>
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>R&D</th>
              <th>Canteen</th>
              <th>CEO's Car</th>
              <th>Marketing</th>
              <th>Parking Fines</th>
            </tr>
          </thead>
          <tbody>
            <tr class="success">
              <td><strong>Rs. {{balance?.randD | number}}/=</strong></td>
              <td><strong>Rs. {{balance?.canteen | number}}/=</strong></td>
              <td><strong>Rs. {{balance?.ceOsCar | number}}/=</strong></td>
              <td><strong>Rs. {{balance?.marketing | number}}/=</strong></td>
              <td><strong>Rs. {{balance?.parkingFines | number}}/=</strong></td>
            </tr>
          </tbody>
        </table> 
      </div>
    </div>
</div>
