<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">
          <strong>Send this month balances</strong>
      </h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-success">
            <input type="file" style="display: inline-block;" class="btn btn-default" (change)="incomingfile($event)" placeholder="Upload file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <button type="button" class="btn btn-default" (click)="Process()" *ngIf="validFile">Process</button>
        </div>
        <div *ngIf="fileAvailable">
          <div class="alert alert-warning">
            <strong>Heads up!</strong> {{header}}<br>Please note that accounts will be updated if you upload balances for existing month.
          </div>
          <table class="table table-striped table-hover " >
            <thead>
              <tr>
                <th>R&D</th>
                <th>Canteen</th>
                <th>CEO's Car</th>
                <th>Marketing</th>
                <th>Parking Fines</th>
              </tr>
            </thead>
            <tbody>
              <tr class="success">
                <td><strong>Rs. {{accounts[0] | number}}/=</strong></td>
                <td><strong>Rs. {{accounts[1] | number}}/=</strong></td>
                <td><strong>Rs. {{accounts[2] | number}}/=</strong></td>
                <td><strong>Rs. {{accounts[3] | number}}/=</strong></td>
                <td><strong>Rs. {{accounts[4] | number}}/=</strong></td>
              </tr>
            </tbody>
          </table> 
          <a class="btn btn-warning btn-sm" (click)="sendData()">Save balances</a>
          <a class="btn btn-default btn-sm" (click)="cancel()">Cancel</a>
        </div>
    </div>
  </div>
</div>
