﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jondel Corp API</title>
    <style>
        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div class="centered">
        <img src="https://pngimage.net/wp-content/uploads/2018/06/logo-jc-png-2.png" /><br /><br />
        <center><h1>Jondel Corp API</h1></center>
    </div>
</body>
</html>
