<div class="row">
  <div class="text-center">
    <h2>Report </h2>
  </div>
</div>

<div class="container">
  <hr>
  <div class="row" style="text-align: center;">
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadData()" novalidate>
      <div class="form-group">
        <label for="startYear">From :</label>
        <select class="form-control" id="startYear" name="startYear" [(ngModel)]="userParams.startYear">
          <option *ngFor="let item of yearList" [value]="item">
            {{item}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <!-- <label for="startMonth">Start Month:</label> -->
        <select class="form-control" id="startMonth" name="startMonth" [(ngModel)]="userParams.startMonth">
          <option *ngFor="let item of monthList" [value]="item.value">
            {{item.display}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="endYear">To :</label>
        <select class="form-control" id="endYear" name="endYear" [(ngModel)]="userParams.endYear">
          <option *ngFor="let item of yearList" [value]="item">
            {{item}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <!-- <label for="endMonth">Start Month:</label> -->
        <select class="form-control" id="endMonth" name="endMonth" [(ngModel)]="userParams.endMonth">
          <option *ngFor="let item of monthList" [value]="item.value">
            {{item.display}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="account">Account:</label>
        <select class="form-control" id="account" name="account" [(ngModel)]="userParams.account">
          <option *ngFor="let item of accountList" [value]="item.value">
            {{item.display}}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" ><i class="fa fa-filter" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-info" (click)="resetFilters()"><i class="fa fa-undo" aria-hidden="true"></i></button>
      <a class="btn btn-warning" (click)="downloadCanvas1($event)"><i class="fa fa-download" aria-hidden="true"></i></a>
    </form>
  </div>
  <hr>
  <div>
    <div class="chart-wrapper" *ngIf="lineChartLabels.length > 0">
      <canvas baseChart
          [datasets]="lineChartData" 
          [labels]="lineChartLabels" 
          [options]="lineChartOptions"
          [colors]="lineChartColors" 
          [legend]="lineChartLegend" 
          [chartType]="lineChartType" 
          [plugins]="lineChartPlugins">
      </canvas>
    </div>   
  </div>
  <hr>
  <div class="row" style="text-align: center;">
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadBalance()" novalidate>
      <div class="form-group">
        <label for="year">Load Balances For :</label>
        <select class="form-control" id="year" name="year" [(ngModel)]="balanceParams.year">
          <option *ngFor="let item of yearList" [value]="item">
            {{item}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <!-- <label for="startMonth">Start Month:</label> -->
        <select class="form-control" id="month" name="month" [(ngModel)]="balanceParams.month">
          <option *ngFor="let item of monthList" [value]="item.value">
            {{item.display}}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" ><i class="fa fa-filter" aria-hidden="true"></i></button>
      <a class="btn btn-warning" (click)="downloadCanvas2($event)"><i class="fa fa-download" aria-hidden="true"></i></a>
    </form>
  </div>
  <hr>
  <div class="chart-wrapper" *ngIf="accBalancesForAcc.length > 0">
    <canvas baseChart 
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType">
    </canvas>
  </div>
<br>
</div>
